:root {
  --colorHell: rgb(246, 240, 240);
  --colorDunkel: rgb(10, 10, 10);
  --colorGrayHell: rgb(162, 162, 85);
  --colorGreenHell: rgba(54, 250, 54, 0.9);
  --colorRedHell: rgb(253, 158, 158);
  --colorRedNeu: rgb(207, 35, 35);
  --colorbackgroudInstagramHell: #fa6ffa;
  --backgroundColorHellGray2: rgb(140, 140, 140);
  --colorBackgroudNeuOrange: rgb(213, 140, 4);
  --colorbackgroudGoogle: #dd4b39;
  --backgroundColorTableLineaHell: rgba(130, 136, 230, 0.707);
  --backgroundColorTableLineaDunkel: rgba(81, 85, 140, 0.707);
  --colorAccordionHover: rgb(252, 238, 213);

  --textShadow2: -3px -1px 1px rgba(0, 0, 0, 0.39), 0 6px 4px rgba(0, 0, 0, 0.3);
}

.buttonKey {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 82%;
  padding: 4%;
  margin: 1%;

  background-color: rgb(224, 229, 236);
  box-shadow: rgba(163, 177, 198, 0.5) 4px 4px 6px 0px, rgb(255, 255, 255) -4px -4px 6px 0px;
  border-radius: 12px;
  border: none;

  transition: all 0.35s ease;
}

.buttonKey:hover,
.buttonKey:focus,
.buttonKey:active {
  cursor: pointer;
  transform: scale(0.92);
  background-color: rgb(102, 102, 102);
  box-shadow: rgba(116, 125, 140, 0.5) 3px 3px 4px 0px, rgb(219, 218, 218) -3px -3px 4px 0px;
}

.buttonKey:hover>.spanKey {
  color: var(--colorRedHell);
  font-weight: bolder;
  transform: scale(1.14);
}

.spanKey {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--colorDunkel);
  margin: 1% 2%;
  padding: 1%;

  text-shadow: var(--textShadow2);
  transition: all 0.35s ease;
}

.iAmZero {
  width: 200%;
}

.resetKey, .delKey {
  background-color: var(--backgroundColorHellGray2);
  min-width: 28%;
}

.resetKey>span, .delKey>span {
  color: var(--colorHell);
  transition: all 0.35s ease;
}

.resetKey:hover>.spanKey {
  cursor: pointer;
  color: var(--colorRedNeu);
}

.ausKey {
  background-color: var(--backgroundColorTableLineaHell);
}

.ausKey:hover,
.ausKey:focus,
.ausKey:active {
  cursor: pointer;
  background-color: var(--backgroundColorTableLineaDunkel);
}

.ausKey:hover>.spanKey,
.ausKey:focus>.spanKey,
.ausKey:active>.spanKey {
  color: var(--colorGreenHell);
}

.calKey {
  background-color: var(--colorbackgroudInstagramHell);
  color: var(--colorAccordionHover);
  font-size: 3.8rem;
  padding: 8.2% 0%;
}

.callKey:hover,
.calKey:focus,
.calKey:active {
  cursor: pointer;
  background-color: var(--colorbackgroudInstagram);
}

.calKey:hover>.spanKey,
.calKey:focus>.spanKey,
.calKey:active>.spanKey {
  color: var(--colorHell);
}

.decimalKey {
  background-color: var(--backgroundColorHellGray2);
  font-size: 3.8rem;
  padding: 8.2% 0%;
}

.decimalKey>span {
  color: var(--colorHell);
}

.decimalKey:hover>.span:hover,
.decimalKey:focus>.span:hover,
.decimalKey:active>.span:hover {
  cursor: pointer;
  color: var(--colorRedNeu);
  font-size: 3.4rem;
}

.operatorKey {
  background-color: var(--colorBackgroudNeuOrange);
}

.operatorKey>span {
  color: var(--colorHell);
}

.operatorKey:hover,
.operatorKey:focus,
.operatorKey:active {
  cursor: pointer;
  background-color: var(--colorbackgroudGoogle);
}

.operatorKey:hover>.spanKey,
.operatorKey:focus>.spanKey,
.operatorKey:active>.spanKey {
  color: var(--colorGrayHell);
  transform: scale(1.14);
}